@charset 'utf-8';

#wrap {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}
.page {
	position: fixed;
	width: 30px;
	bottom: 20px;
	right: 5px;
	z-index: 99;
}
.current_page {
	position: absolute;
	width: 21px;
	height: 36px;
	left: -21px;
	top: -30px;
	overflow: hidden;
}
.page ul {
	position: absolute;
	font-size: 36px;
}
.page ul li { color: #fff; }
.page span {
	color: #fff;
	font-size: 16px;
}
.page.pageBlack ul li, .page.pageBlack span { color: #333; }
section h2 { display: none; }
header {
	position: absolute;
	z-index: 99;
	width: 100vw;
	padding: 1rem 0;
}
header h1 a  { margin-left: 10px; }
nav {
	transform: scale(0);
	opacity: 0;
	transition: .5s;
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(141deg, #1fc8db 51%, #2cb5e8 75%);
	z-index: 999;
}
nav > a {
	padding: 1rem 0;
	position: absolute;
	width: 100vw;
	text-align: center;
}
nav > p {
	position: absolute;
	bottom: 10%;
	left: 5rem;
	color: #fff;
}
nav.navOpen { transform: scale(1); opacity: 1; }
.gnb {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 50%;
	transform: translate(-50%, -50%);
}
.gnb li {
	padding-left: 5rem;
	line-height: 1.5;
	font-size: 3rem;
	margin-bottom: 1rem;
}
.gnb li a {
	color: #fff;
	position: relative;
}
.gnb li a::before {
	content:'';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 2px;
	background: #fff;
	transition: .7s;
}
.gnb li a:hover::before { width: 100%; }
.menu_btn {
	position: fixed;
	top: 10px;
	right: 15px;
	width: 30px;
	height: 40px;
	cursor: pointer;
	z-index: 999;
}
.line {
	display: block;
	position: absolute;
	background: #fff;
	width: 30px;
	height: 2px;
	transition: 1s;
}
.line.blackOn { background: #333; }
.line1 { top: 9px; }
.line2 { top: 19px; }
.line3 { top: 29px; }
.star_wrap {
	position: absolute;
	top: 1px;
	left: 130px;
	width: 32px;
	animation: star 5s linear infinite;
}
@keyframes star {
	from {}
	to { transform: rotate(-360deg); }
}
/* menu_btn animation*/
/* onclick ani*/
.menu_btn.onclick .line { background: #fff; }
.menu_btn.onclick .line1 { animation: onclick1 .8s forwards; }
@keyframes onclick1 {
	0% {}
	50% { transform: translateY(10px);}
	100% { transform: translateY(10px) rotate(45deg);}
}
.menu_btn.onclick .line2 { animation: onclick2 .5s forwards; }
@keyframes onclick2 {
	from {}
	to { transform: translateX(200%);}
}
.menu_btn.onclick .line3 { animation: onclick3 0.8s forwards; }
@keyframes onclick3 {
	0% {}
	50% { transform: translateY(-10px);}
	100% { transform: translateY(-10px) rotate(-45deg);}
}
/* offclick ani*/
.menu_btn.offclick .line1 { animation: offclick1 .8s forwards; }
@keyframes offclick1 {
	0% {transform: translateY(10px) rotate(45deg);}
	50% { transform: translateY(10px);}
	100% { transform: translateY(0) rotate(0);}
}
.menu_btn.offclick .line2 { animation: offclick2 .5s forwards; }
@keyframes offclick2 {
	0% {transform: translateX(200%);}
	100% { transform: translateX(0);}
}
.menu_btn.offclick .line3 { animation: offclick3 .8s forwards; }
@keyframes offclick3 {
	0% { transform: translateY(-10px) rotate(-45deg); }
	50% { transform: translateY(-10px); }
	100% { transform: translateY(0) rotate(0); }
}
/* first_area */
.first_area {
	height: 100vh;
	position: relative;
}
.first_area img{
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	filter: brightness(90%);
}
.first_area p {
	font-size: 3.6rem;
	color: #fff;
	position: absolute;
	top: 60%;
	left: 10%;
	line-height: 1.5;
	font-weight: bold;
	letter-spacing: 1.5px;
	animation: firstTxtani 2s forwards;
}
@keyframes firstTxtani {
	from {
		opacity: 0;
		transform: scale(1.3);
		filter: blur(10px);
	}
	to {
		opacity: 1;
		transform: scale(1);
		filter: none;
	}
}
.first_area p span {
	font-size: 1.6rem;
	color: #fff;
}
.scroll_icon {
	background: url(../img/scroll_icon.png) no-repeat;
	width: 64px;
	height: 64px;
	position: absolute;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
	animation: scrollIcon .5s infinite alternate;
}
@keyframes scrollIcon {
	from {}
	to { bottom: 1rem; }
}
/* why_youth */
.why_youth {
	background: #e4e4e4;
	height: 100vh;
	position: relative;
}
.why_youth img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(100%);
}
.why_youth p {
	position: absolute;
	z-index: 9;
	width: 100%;
	text-align: left;
	padding-left: 3rem;
	transform: translateY(8rem);
	opacity: 0;
	color: #fff;
}
.why_youth p .why_ques {
	color: #fff;
	display: inline-block;
	animation: whyques 1s infinite alternate;
}
@keyframes whyques {
	from { transform-origin: 50% 100%; transform: rotate(0);}
	to { transform-origin: 50% 100%; transform: rotate(10deg);}
}
.why_youth p:nth-of-type(1) {
	top: 10%;
	font-size: 3rem;
	transition: 1.5s;
}
.why_youth p:nth-of-type(2) {
	top: 20%;
	font-size: 1.4rem;
	line-height: 1.7;
	transition: 1s 1s;
}
.why_youth p:nth-of-type(3) {
	top: 30%;
	font-size: 1.4rem;
	line-height: 1.7;
	transition: 1s 2s;
}
.why_youth p:nth-of-type(4) {
	top: 45%;
	font-size: 1.4rem;
	line-height: 1.7;
	transition: 1s 3s;
}
.why_youth.ani p {
	transform: translateY(0);
	opacity: 1;
}
/* symposium */
.symposium {
	width: 100vw;
	height: 100vh;
	position: relative;
}
.symposium img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(50%);
}
.symposium p {
	position: absolute;
	width: 100%;
	color: #fff;
	padding-right: 3rem;
}
.symposium p:nth-of-type(1) {
	top: 10%;
	font-size: 3rem;
	text-align: right;
	transform: translateX(100%);
	transition: 1s 0.5s;
}
.symposium p:nth-of-type(2) {
	top: 15%;
	font-size: 1.4rem;
	text-align: right;
	line-height: 1.7;
	transform: translateX(100%);
	transition: 2s 1s;
}
.symposium p:nth-of-type(3) {
	top: 45%;
	text-align: left;
	padding-left: 3rem;
	font-size: 1.4rem;
	line-height: 2;
	transform: translateX(-100%);
	transition: 2s 2s;
}
.symposium.textAni p { transform: translateX(0); }
/* doctor_intro */
.doctor_intro {
	width: 100vw;
	height: 100vh;
	background-image: conic-gradient(at 0% 0%, #006eff, #0a0);
	position: relative;
}
.doctor_intro > p {
	position: absolute;
	width: 100%;
	transition: 2s .5s;
	transform: translateY(-50px);
}
.doctor_intro > p:nth-of-type(1) {
	font-size: 3rem;
	text-align: center;
	top: 7%;
	color: #fff;
}
.doctor_intro > p:nth-of-type(2) {
	font-size: 1.4rem;
	text-align: center;
	top: 12%;
	color: #fff;
}
.doctor_box {
	position: absolute;
	width: 80%;
	height: 600px;
	left: 50%;
	top: 49%;
	transform: translate(-50%, -50%);
	transition: 2s 1s;
	opacity: 0;
}
.doctor_box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}
.doctor_face {
	width: 100%;
	height: 33.3333%;
	position: relative;
	box-shadow: 0 0 5px gray;
	cursor: pointer;
	transition: .6s;
}
.doctor_face.non_click {
	height: 15%;
	filter: brightness(50%);
}
.doctor_face.tb_non_click { filter: brightness(50%); }
.doctor_face p {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6rem;
	background: rgba(10,10,10,0.5);
	padding: 1.6rem 0;
	color: #fff;
}
.doctor_info {
	width: 100%;
	height: auto;
	padding: 1rem 0;
	display: none;
}
.doctor_info p {
	font-size: 1.2rem;
	color: #fff;
	word-break: keep-all;
}
.doctor_info .subheading {
	font-size: 1.8rem;
	padding-bottom: 0.6rem;
	border-bottom: 1px solid white;
}
.doctor_info p:nth-child(even) {
	line-height: 1.5;
	padding-top: 0.6rem;
}
.doctor_intro.docAni > p { transform: translateY(0); }
.doctor_intro.docAni .doctor_box { opacity: 1; }
/* hospital_intro */
.hospital_intro {
	width: 100vw;
	height: 100vh;
	position: relative;
}
.hospital_intro img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.hospital_intro > p {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 10%;
	padding-bottom: 1rem;
	border-bottom: 3px solid #fff;
	font-size: 3rem;
	color: #fff;
}
.hospital_intro > p:nth-of-type(2) {
	border: none;
	position: absolute;
	top: 15%;
	padding-top: 1rem;
	left: 50%;
	transform: translateX(-50%);
}
.imgList_wrap {
	position: absolute;
	width: 100%;
	height: 10rem;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0,0.1);
}
.imgList_wrap .left_btn, .imgList_wrap .right_btn {
	text-indent: -9999px;
	cursor: pointer;
	width: 10%;
}
.imgList_wrap .left_btn {
	background: url(../img/arrow.png) no-repeat;
	background-size: 50px;
	width: 50px;
	height: 50px;
	transform: rotate(180deg);
}
.imgList_wrap .right_btn {
	background: url(../img/arrow.png) no-repeat;
	background-size: 50px;
	width: 50px;
	height: 50px;
}
.slide_wrap {
	overflow: hidden;
	width: 29.6rem;
	height: 10rem
}
.imgList {
	display: flex;
	align-items: center;
	width: 29.6rem;
	height: 10rem;
}
.imgList li {
	cursor: pointer;
	flex: 0 0 7.4rem;
	height: 6.4rem;
	padding-left: 1rem;
}
.imgList li img.selected { border: 2px solid #006eff; }
.imgList li img {
	width: 100%;
	height: 100%;
}
/* reservation */
.reservation {
	width: 100vw;
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.reservation > p {
	position: absolute;
	width: 100%;
	top: 6%;
	text-align: center;
	font-size: 40px;
	color: #fff;
}
.reservation > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.res_wrap {
	width: 90%;
	height: 700px;
	position: absolute;
	box-shadow: 0 0 5px 1px #333;
}
.moving_box {
	position: absolute;
	left: 50%;
	top: 75%;
	transform: translate(-50%, -50%);
	height: 330px;
	width: 104%;
	background: #333;
	box-shadow: 0 0 5px 1px #333;
	z-index: 1;
	font-size: 20px;
	display:flex;
	justify-content: center;
	align-items: center;
}
.moving_box span {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	width: 140px;
	padding: 0.6rem 2rem;
	border: 3px solid #fff;
	color: #fff;
	transition: .3s;
}
.moving_box span:hover {
	background: #fff;
	color: #333;
}
.tel_wrap, .form_wrap {
	width: 100%;
	height: 50%;
	background: #fff;
}
.form_wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}
.tel_wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}
.tel_wrap a {
	font-size: 2.4rem;
	color: #333;
}
.online_rsv {
	position: relative;
	width: 100%;
	font-size: 1.6rem;
	text-align: center;
}
.online_rsv * { color: #333; }
.online_rsv p:nth-of-type(1) { font-size: 0.8rem; }
.online_rsv label, .online_rsv input,
.online_rsv select, .online_rsv p { margin-bottom: 1.6rem; }
.online_rsv label {
	display: inline-block;
	width: 15%;
	text-align: left;
}
.online_rsv input {
	width: 50%;
	border: 1px solid #333;
	border-radius: 10px;
	padding: 0.5rem 0.2rem;
}
.online_rsv select {
	width: 50%;
	border: none;
	border: 1px solid #333;
	border-radius: 10px;
	padding: 0.5rem 0.2rem;
}
.online_rsv p { text-align: center; }
.online_rsv button[type="submit"] {
	cursor: pointer;
	display: block;
	font-size: 2rem;
	border: 3px solid #333;
	padding: 0.8rem 4rem;
	margin: auto;
	background: transparent;
	border-radius: 10px;
	transition: .3s;
}
.online_rsv button[type="submit"]:hover {
	background: #333;
	color: #fff;
}
footer.main_con {
	position: fixed;
	height: 150px;
	background: skyblue;
	bottom: -150px;
	width: 100vw;
}
footer div {
	line-height: 1.5;
	padding: 50px 100px 0 100px;
	color: #fff;
	position: relative;
}
footer div p {
	position: relative;
	color: #fff;
}
footer div p a {
	position: absolute;
	bottom: 0;
	right: 0;
}
footer div ul {
	display: none;
	width: 30%;
	border-bottom: 1px solid #fff;
	padding-bottom: 0.5rem;
}
footer div ul li { margin-right: 1rem; }
footer div ul li a { color: #fff; }
.main_con { position: fixed; }
.first_area { z-index: 10; }
.why_youth { z-index: 9; }
.symposium { z-index: 8; }
.doctor_intro { z-index: 7; }
.hospital_intro { z-index: 6; }
.reservation { z-index: 5; }

/*태블릿*/
@media (min-width: 768px) {
	html { font-size: 13px; }
	.hospital_intro > p:nth-of-type(2) { top: 17%; }
	.doctor_intro > p:nth-of-type(1) { top: 10%; }
	.doctor_intro > p:nth-of-type(2) { top: 17%; }
	.doctor_box {
		top: 55%;
		display: flex;
	}
	.symposium p:nth-of-type(2) { top: 17%; }
	.reservation > p { top: 13%; }
	.online_rsv label, .online_rsv input,
	.online_rsv select, .online_rsv p { margin-bottom: 2rem; }
	.res_wrap {
		display: flex;
		height: 400px;
	}
	.moving_box {
		left: 73%;
		top: 50%;
		height: 420px;
		width: 50%;
	}
	.moving_box span { width: 160px; }
	.tel_wrap, .form_wrap {
		width: 100%;
		height: 100%;
	}
	.online_rsv { font-size: 1.4rem; }
	.online_rsv label { width: 100px; }
	.online_rsv label, .online_rsv input,
	.online_rsv select, .online_rsv p { margin-bottom: 15px; }
	.online_rsv input { width: 175px; }
	.online_rsv select {
		width: 175px;
		box-sizing: content-box;
	}
	.online_rsv button[type="submit"] {
		padding: 5px 40px;
		font-size: 1.4rem;
	}
	.online_rsv p:nth-of-type(1) {
		margin-bottom: 12px;
		font-size: 1rem;
	}
	footer div { padding: 20px 100px 0; }
	footer div ul {
		display: flex;
		width: 400px;
	}
	footer div p { padding-top: 10px; }
}

/*데스크탑*/
@media (min-width: 1024px) {
	html { font-size: 15px; }
	nav {
		transform: scale(1) translateX(105%);
		position: fixed;
		transition: 1s;
		top: 0;
		right: 0;
		width: 20vw;
		height: 100vh;
		background-image: linear-gradient(141deg, #1fc8db 51%, #2cb5e8 75%);
		z-index: 999;
		box-shadow: -2px 0 5px #888;
	}
	.page {
		right: 60px;
		bottom: 45px;
	}
	.first_area p {
		top: 50%;
		left: 40%;
	}
	.why_youth p { padding-left: 20%;}
	.why_youth p:nth-of-type(1) { top: 20%; }
	.why_youth p:nth-of-type(2) { top: 30%; }
	.why_youth p:nth-of-type(3) { top: 40%; }
	.why_youth p:nth-of-type(4) { top: 55%; }
	.why_youth img { filter: brightness(100%); }
	.symposium p:nth-of-type(1) {
		top: 20%;
		padding-right: 20%;
	}
	.symposium p:nth-of-type(2) {
		top: 30%;
		padding-right: 20%;
	}
	.symposium p:nth-of-type(3) {
		padding-left: 20%;
	}
	.slide_wrap { width: 50rem; }
	.imgList {
		width: 50rem;
		justify-content: center;
	}
	.gnb li {
		padding-left: 2rem;
		font-size: 2rem;
	}
	.reservation > p {
		position: absolute;
		width: 100%;
		top: 15%;
		text-align: center;
		font-size: 60px;
		color: #fff;
	}
	.res_wrap { width: 900px; }
	.online_rsv {
		font-size: 1.4rem;
		width: 1024px;
		margin: auto;
	}
	.tel_wrap, .form_wrap { width: 50%; }
	footer div { padding: 20px 100px; line-height: 1; }
	footer div ul { padding-bottom: 0.5rem; }
	footer div p {
		padding-top: 0.5rem;
		line-height: 1.5;
	}
}